:root {
    --color-primary: #4F5955;
    --color-secondary: #D9C3A9;
    --color-secondary-light: #F2EDDC;
    --color-body-text: #535656;
    --color-body-text-light: #9C9EA6;
    --color-white: #FFFFFF;
    --color-white-100: #F7F7F7;
    --color-border: #EAEAEA
}
